<%= form_with(model: signup) do |form| %>
  <% if signup.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul>
        <% signup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :playernames, style: "display: block" %>
    <%= form.text_field :playernames %>
  </div>

  <div>
    <%= form.label :dateofbirth, style: "display: block" %>
    <%= form.date_field :dateofbirth %>
  </div>

  <div>
    <%= form.label :caregivernames, style: "display: block" %>
    <%= form.text_field :caregivernames %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :relationship, style: "display: block" %>
    <%= form.text_field :relationship %>
  </div>

  <div>
    <%= form.label :clinic, style: "display: block" %>
    <%= form.text_field :clinic %>
  </div>

  <div>
    <%= form.label :team, style: "display: block" %>
    <%= form.text_field :team %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
