<div id="<%= dom_id signup %>">
  <p>
    <strong>Player Names:</strong>
    <%= signup.playernames %>
  </p>

  <p>
    <strong>Date of Birth:</strong>
    <%= signup.dateofbirth %>
  </p>

  <p>
    <strong>Caregiver Names:</strong>
    <%= signup.caregivernames %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= signup.phone %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= signup.relationship %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= signup.clinic %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= signup.team %>
  </p>

</div>
